<div class = "notice">
  <%if @condition.errors.any? %>
   <% @condition.errors.full_messages.each do |message| %>
      <%= message %>
    <% end%>
  <% end%>
</div>
<%= form_for @condition, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prologue_pages, :class => 'control-label' %>
    <% index = 0 %>
      <% 10.times do %>
        <div class="controls">
              <%= collection_select( :prologue_pages, :id, ::Template.all, :id, :name,
                {prompt: 'None'}, 
                {class: "form-control", id: "prologue_Pages#{index}", name: "condition[prologue_pages][]"}  ) %> 
        </div>
        <% index+=1 %>
      <%end %>
  </div>
  <div class="control-group">
    <%= f.label :body_pages, :class => 'control-label' %>
    <% index = 0 %>
      <% 10.times do %>
        <div class="controls">
            <%= collection_select( :body_pages, :id, ::Template.all, :id, :name,
          {prompt: 'None'}, 
          {class: "form-control", id: "body_Pages#{index}", name: "condition[body_pages][]"}  ) %> 
        </div>
        <% index+=1 %>
      <% end %>
  </div>
  <div class="control-group">
    <%= f.label :epilogue_pages, :class => 'control-label' %>
    <% index = 0 %>
      <% 10.times do %> 
        <div class="controls">
             <%= collection_select( :epilogue_pages, :id, ::Template.all, :id, :name,
          {prompt: 'None'}, 
          {class: "form-control", id: "epilogue_Pages#{index}", name: "condition[epilogue_pages][]"}  ) %>       
      </div>
      <% index+=1 %>
      <% end %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :preferred_group_size, :class => 'control-label'  %>
    <div class="controls">
    <%= f.select :preferred_group_size, (1..Condition::MAX_ALLOWABLE_GROUP_SIZE) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :minimum_group_size, :class => 'control-label'  %>
    <div class="controls">
    <%= f.select :minimum_group_size, (1..Condition::MAX_ALLOWABLE_GROUP_SIZE) %>
    </div>
  </div>
    <!-- TBD: create UI for specifying prologue/epilogue/body pages -->


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                conditions_path, :class => 'btn' %> 
  </div>
<% end %>