<div class="col-md-6 moocchat-right-panel">
  <div class="row">
    <div class="col-sm-11 moocchat-right-panel-direction h3">
      For the essay below, select one of the <%= @time_filler_qs.answers.size %> choices.
    </div>
  </div>
  <div class="row col-sm-11 moocchat-reading well"><%= @time_filler_qs.text %></div>
  <div class="row">
    <div class="col-sm-11 moocchat-post-reading-direction">
      Which of the following makes the most reasonable assumption?
    </div>
  </div>
  <div class="row answer-box-js">
    <p>Select the best answer:</p>
    <!-- capture learner's answer as a letter A, B, C, ... -->
    <% @time_filler_qs.answers.each_with_index do |answer, index| %>
    <% choice_letter = index_to_letter(index) %>
    <div class="col-sm-11 moocchat-choice-area moocchat-conditional answer-box">
      <div class="llist-group-item active moocchat-probing-question-choice answer-box1">
        <div class="list-group-item moocchat-choice moocchat-choice-<%= index -%> answer-box">
          <%= radio_button_tag "u[choice]", choice_letter, checked=false, :class => 'choice-button', 'data-index' => index %>
          <div class="moocchat-choice-box moocchat-choice-box-<%= index -%> letter-box letter-box-<%= index -%>">
            <%= choice_letter -%>
          </div>
          <label for="u_choice_<%= choice_letter -%>" class="list-group-item-heading moocchat-choice-statement">
            <%= answer %> 
          </label>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <button id="next-q"></button>
</div>
