<div class= "container">
  <center><h1 class="title"><strong>MoocChat Configuration Page</strong></h1></center>
  <br><br>
  <i><h4>Please fill out the following</h4></i>
  <%= form_tag tasks_path , :class => 'form-warning' do  %>
  <div class="field">
    <label for="learner_name"><b>Learner name</b></label><br/>
    <%= text_field_tag :learner_name,nil, :placeholder=> "Put Your Name Here" %>
  </div>
  <div class="field">
    <label for="condition_id"><b>Condition</b></label><br/>
    <%= collection_select( :condition, :id, Condition.all, :id, :name,
        {prompt: 'Please Select from the following choices'}, 
        {class: "form-control", name: "condition_id"}  ) %>
  </div>
  <div class="field">
    <label for="activity_schema_id"><b>Activity</b></label><br/>
    <%= collection_select( :activity_schema, :id, ActivitySchema.all, :id, :name,
        {prompt: 'Please Select from the following choices'}, 
        {class: "form-control", name: "activity_schema_id" }) %>
  </div>
  <br><br>
  <div class="actions">
    <%= submit_tag "SUBMIT" , :class => "btn btn-primary"%>
  </div>
<% end %>
