<center><h1 class="title">Configuration Page for MoocChat, please Fill out the following</h1></center>
 <div class= "container"> 
  <%= form_tag tasks_path do  %>
  <div class="field">
    <label for="learner_name">Learner name</label><br/>
    <%= text_field_tag :learner_name %>
  </div>
  <div class="field">
    <label for="condition_id">Condition</label><br/>
    <%= collection_select( :condition, :id, Condition.all, :id, :name,
        {prompt: 'Please Select from the following choices'}, 
        {class: "form-control", name: "condition_id"}  ) %>
  </div>
  <div class="field">
    <label for="activity_schema_id">Activity</label><br/>
    <%= collection_select( :activity_schema, :id, ActivitySchema.all, :id, :name,
        {prompt: 'Please Select from the following choices'}, 
        {class: "form-control", name: "activity_schema_id" }) %>
  </div>
  <div class="actions">
    <%= submit_tag "SUBMIT" , :class => "btn btn-primary"%>
  </div>
  <% end %>
</div>
