<h1 class="title">Configueration Page for MoocChat, please Fill out the following</h1>
<%= form_tag "/tasks" do  %>
  <div class="field">
  	<%-# this should be learner name -%>
    <%= label_tag :learner_name %><br>
    <%= text_field_tag :learner_name %>
  </div>
  <div class="field">
  	 <%-# this should be dropdown_menu for condition_id -%>
    <%= label_tag(:condition_id) %><br/>
    <%= collection_select( :condition_id, :id, Condition.all, :id, :name, {prompt: 'Please Select from the following choices'}, :class => "form-control" ) %>
  </div>
  <div class="field">
  	<%-# this should be dropdown_menu for activity_schema -%>
    <%= label_tag(:activity_schema_id) %><br/>
    <%= collection_select( :activity_schema_id, :id, ActivitySchema.all, :id, :name ,{prompt: 'Please Select from the following choices'}, :class => "form-control" ) %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit Task~"%>
  </div>
<% end %>