<%= form_for(@activity_schema) do |f| %>
  <% if @activity_schema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_schema.errors.count, "error") %> prohibited this activity_schema from being saved:</h2>

      <ul>
      <% @activity_schema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
