<%= form_for @activity_schema, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cohort_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cohort_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :enabled, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :enabled, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :randomized, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :randomized, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_questions, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :num_questions, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tag, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label'   %>
    <div class="controls">
    <%= datetime_select :activity_schema, :start_time, :seconds => false %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :end_time, :class => 'control-label'   %>
    <div class="controls">
    <%= datetime_select :activity_schema, :end_time, :seconds => false %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :starts_every, :class => 'control-label'   %>
    <div class="controls">
    <%= f.text_field :starts_every %> minutes 
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activity_schemas_path, :class => 'btn' %>
  </div>
<% end %>
