<%- model_class = EventLog -%>

<table class="table">
<tr>
  <th><%= model_class.human_attribute_name(:created_at) %></th>
  <th><%= model_class.human_attribute_name(:task_id) %></th>
  <th><%= model_class.human_attribute_name(:chat_group) %></th>
  <th><%= model_class.human_attribute_name(:name) %></th>
  <th><%= model_class.human_attribute_name(:value) %></th>
</tr>

<% prev_orig_chat_group = nil %>
<!-- Order by original chat group, which is property on Task -->
<% @eventlog.joins(:task).order('tasks.original_chat_group', :created_at).each do |event| %>

<% orig_chat_group = Task.find(event.task_id).original_chat_group %>
<% if prev_orig_chat_group and prev_orig_chat_group != orig_chat_group then %>
</table>
<table class="table">
<tr>
  <th><%= model_class.human_attribute_name(:created_at) %></th>
  <th><%= model_class.human_attribute_name(:task_id) %></th>
  <th><%= model_class.human_attribute_name(:chat_group) %></th>
  <th><%= model_class.human_attribute_name(:name) %></th>
  <th><%= model_class.human_attribute_name(:value) %></th>
</tr>
<% end %>
<% prev_orig_chat_group = orig_chat_group %>

<tr>
  <td><%= event.created_at %></td>
  <td><%= event.task_id %></td>
  <td><%= event.chat_group %></td>
  <td><%= event.name %></td>
  <td><%= event.value %></td>
</tr>
<% end %>

</table>
